* {
  border: 0;
  margin: 0;
  padding: 0;
}

.img-espaço {
  background-image: url(./images/espaco-sideral-o-que-e-onde-ele-comeca-e-qual-som-tem-1-1024x576.jpg);
  padding: 20px;
}

.containerTable {
  background-color: rgb(31, 31, 31);
  color: #ffffff;
  margin: 200px 0 0 0;
}
